<html ng-app="shiponTaxi">
    <head>
        
        <base href="/">
        <meta charset="utf-8">
        <title>Shipon Taxi</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="">
        
        <link rel="stylesheet" href="page/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="page/css/style.css">
        <link rel="shortcut icon" href="page/assets/shipontaxi.png">
        
        <script src="page/bower_components/angular/angular.js"></script>
        <script src="page/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-animate.min.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-touch.min.js"></script>
        
        <script src="page/lib/ui-bootstrap.js"></script>
        
        <script src="page/js/app.js"></script>
        
    </head>
    <body ng-controller="appController as appCtrl">
        
        <header class="topbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/about">
                    <span class="logo"><img src="{{ appCtrl.getPath('assets/logo.svg') }}" /></span>
                    <span class="navbar-brand-title">ShiponTaxi</span>
                </a>
            </div>
            <div class="navbar-navigation collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/about" ng-class="{ 'active' : appCtrl.isPath('/about') }">
                            О проекте
                        </a>
                    </li>
                    <li>
                        <a href="#/cities" ng-class="{ 'active' : appCtrl.isPath('/cities') }">
                            Города
                        </a>
                    </li>
                    <li>
                        <a href="#/contacts" ng-class="{ 'active' : appCtrl.isPath('/contacts') }">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-menu" uib-dropdown is-open="isopen">
                <button id="single-button" type="button" class="menu-toggle" uib-dropdown-toggle ng-disabled="disabled">
                    <img src="{{ appCtrl.getPath('assets/menu.svg') }}" />
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li>
                        <a href="#/about" ng-class="{ 'active' : appCtrl.isPath('/about') }">
                            О проекте
                        </a>
                    </li>
                    <li>
                        <a href="#/cities" ng-class="{ 'active' : appCtrl.isPath('/cities') }">
                            Города
                        </a>
                    </li>
                    <li>
                        <a href="#/contacts" ng-class="{ 'active' : appCtrl.isPath('/contacts') }">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        
        
        <ui-view></ui-view>
        
        
        <footer>
            <div class="footer-social-links">
                <a href="https://vk.com/tripdriver"><img src="{{ appCtrl.getPath('assets/vk_bw.svg') }}" /></a>
                <a href="https://www.facebook.com/groups/tripdriver/"><img src="{{ appCtrl.getPath('assets/facebook_bw.svg') }}" /></a>
                <a href="https://www.instagram.com/tripdriver/"><img src="{{ appCtrl.getPath('assets/instagram_bw.svg') }}" /></a>
            </div>
        </footer>
    </body>
</html>
