<div class="about">
    <div class="about-ad">
        <div class="ad-img">
            <img src="{{ appCtrl.getPath('assets/phone_image.svg') }}" />
        </div>
        <div class="ad-description">
            <div class="ad-title">
                <div>Стоимость поездки<br>ты назначаешь сам!</div>
            </div>
            <div class="first">Назначай стоимость поездки</div>
            <div class="second">Выбери свободного водителя рядом</div>
            <div class="third">Смотри профиль водителя, оценки, отзывы</div>
        </div>
    </div>
    <div class="about-right">
        <div class="about-app-links">
            <p>Уже сейчас вы можете<br>скачать наше приложение</p>
            <a class="link-btn" href="">AppStore</a>
            <a class="link-btn" href="">Google Play</a>
        </div>
        <div class="about-ad-mobile">
            <div class="ad-img">
                <img src="{{ appCtrl.getPath('assets/phone_image.svg') }}" />
            </div>
            <div class="ad-description">
                <div class="ad-title">
                    <div>Стоимость поездки<br>ты назначаешь сам!</div>
                </div>
                <div class="first">Назначай стоимость поездки</div>
                <div class="second">Выбери свободного водителя рядом</div>
                <div class="third">Смотри профиль водителя, оценки, отзывы</div>
            </div>
        </div>
        <div class="social">
            <h1>Мы в соц сетях</h1>
            <div class="about-social-links">
                <a href="https://vk.com/tripdriver"><img src="{{ appCtrl.getPath('assets/vk.svg') }}" /></a>
                <a href="https://www.facebook.com/groups/tripdriver/"><img src="{{ appCtrl.getPath('assets/facebook.svg') }}" /></a>
                <a href="https://www.instagram.com/tripdriver/"><img src="{{ appCtrl.getPath('assets/instagram.svg') }}" /></a>
            </div>
        </div>
    </div>
</div>